@charset "UTF-8";

@import 'default';
@import 'variables';
@import 'mixin';
@import 'animate';


@import 'tool';
@import 'transition';


.van-field__control {
  line-height: 24px;
}

.van-nav-bar {
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.van-skeleton {
  &__avatar  {
    background-color: #444;
  }
  &__title, &__row {
    background-color: #444;
  }
}
.van-search__action {
  &:active {
    background-color: transparent;
  }
}